<div
  class='bg-white rounded-3xl shadow-[0_4px_20px_rgba(0,0,0,0.08)] border border-gray-200/60 p-12 text-center'
>
  <i class='fas fa-box-open text-gray-400 text-6xl mb-4'></i>
  <p class='text-gray-600 text-lg'>Empty items</p>
</div>